:root{
    --duration:1000ms;
    --success-color:rgb(6, 100, 29);
    --error-color:rgb(253, 55, 55);
    --warning-color:rgb(230, 176, 0);
}


.message_wrapper{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 5px black;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    
}

.message_slide_up{
   animation: message_slideup var(--duration) linear;
   animation-fill-mode: forwards;
}

.message_slide_down{
   animation: message_slidedown var(--duration) linear;
   animation-fill-mode: forwards;
}

.message_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_header h5{
    color: rgb(55, 55, 55);
    margin:0.2rem 0;
}

.message_text{
    font-size: 0.68rem;
    word-wrap: break-word;
}

.info{
    border-left: 5px solid rgb(117, 117, 250);
}

.info h5{
    color: rgb(3, 60, 124);
}


.success{
    border-left: 5px solid var(--success-color);
}

.success h5{
    color: var(--success-color);
}


.error{
    border-left: 5px solid var(--error-color);
}

.error h5{
    color: var(--error-color);
}


.warning{
    border-left: 5px solid var(--warning-color);
}

.warning h5{
    color: var(--warning-color);
}

.message_button{
    display:flex;
    justify-content: center;
}


@keyframes message_slideup {
  0%{
    transform: translateX(250px);
  }

  100%{
    transform: translateX(0px);
  }

}

@keyframes message_slidedown {
    0%{
      transform: translateX(0px);
    }
  
    100%{
      transform: translateX(250px);
    }
}

